<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [5]:
#Import required library
import numpy as np
import pandas as pd

In [3]:
import os
path=os.getcwd()
path

'C:\\Users\\jaoji\\Python_training'

In [43]:
#Manually add the dataset
Countries=np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil',
                 'Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia',
                 'Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland',
                 'Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan',
                 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates',
                 'United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
GDP=np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,
           2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,
           2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,
           1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,
           14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,
           2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])

In [16]:
GDP

array([ 2255.225482 ,   629.9553062, 11601.63022  , 25306.82494  ,
       27266.40335  , 19466.99052  ,   588.3691778,  2890.345675 ,
       24733.62696  ,  1445.760002 ,  4803.398244 ,  2618.876037 ,
         590.4521124,   665.7982328,  7122.938458 ,  2639.54156  ,
        3362.4656   , 15378.16704  , 30860.12808  ,  2579.115607 ,
        6525.541272 ,   229.6769525,  2242.689259 , 27570.4852   ,
       23016.84778  ,  1334.646773 ,   402.6953275,  6047.200797 ,
         394.1156638,   385.5793827,  1414.072488 ,  5745.981529 ,
         837.7464011,  1206.991065 , 27715.52837  , 18937.24998  ,
       39578.07441  ,   478.2194906, 16684.21278  ,   279.2204061,
        5345.213415 ,  6288.25324  ,  1908.304416 ,   274.8728621,
       14646.42094  , 40034.85063  ,   672.1547506,  3359.517402 ,
       36152.66676  ,  3054.727742 , 33529.83052  ,  3825.093781 ,
       15428.32098  , 33630.24604  , 39170.41371  ,  2699.123242 ,
       21058.43643  , 28272.40661  , 37691.02733  ,  9581.05659  ,
        5671.912202 ,   757.4009286,   347.7456605])

#### 2: Find and print the name of the country with the highest GDP

In [19]:
#Use the argmax() method to find the highest GDP
maxGDP=GDP.argmax()
maxGDP

45

In [21]:
#Print the name of the country
maxCountry=Countries[maxGDP]

In [22]:
maxCountry

'Norway'

#### 3: Find and print the name of the country with the lowest GDP

In [24]:
#Use the argmin() method to find the lowest GDP
minGDP=GDP.argmin()

In [25]:
#Print the name of the country
Countries[minGDP]

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [27]:
#Use a for loop to print the required output
for country in Countries:
    print('evaluating country {}'.format(country))

evaluating country Algeria
evaluating country Angola
evaluating country Argentina
evaluating country Australia
evaluating country Austria
evaluating country Bahamas
evaluating country Bangladesh
evaluating country Belarus
evaluating country Belgium
evaluating country Bhutan
evaluating country Brazil
evaluating country Bulgaria
evaluating country Cambodia
evaluating country Cameroon
evaluating country Chile
evaluating country China
evaluating country Colombia
evaluating country Cyprus
evaluating country Denmark
evaluating country El Salvador
evaluating country Estonia
evaluating country Ethiopia
evaluating country Fiji
evaluating country Finland
evaluating country France
evaluating country Georgia
evaluating country Ghana
evaluating country Grenada
evaluating country Guinea
evaluating country Haiti
evaluating country Honduras
evaluating country Hungary
evaluating country India
evaluating country Indonesia
evaluating country Ireland
evaluating country Italy
evaluating country Japan
evaluating country Kenya
evaluating country South Korea
evaluating country Liberia
evaluating country Malaysia
evaluating country Mexico
evaluating country Morocco
evaluating country Nepal
evaluating country New Zealand
evaluating country Norway
evaluating country Pakistan
evaluating country Peru
evaluating country Qatar
evaluating country Russia
evaluating country Singapore
evaluating country South Africa
evaluating country Spain
evaluating country Sweden
evaluating country Switzerland
evaluating country Thailand
evaluating country United Arab Emirates
evaluating country United Kingdom
evaluating country United States
evaluating country Uruguay
evaluating country Venezuela
evaluating country Vietnam
evaluating country Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [31]:
#Use a for loop to print the required list
All=zip(Countries, GDP)

In [34]:
list(All)

[('Algeria', 2255.225482),
 ('Angola', 629.9553062),
 ('Argentina', 11601.63022),
 ('Australia', 25306.82494),
 ('Austria', 27266.40335),
 ('Bahamas', 19466.99052),
 ('Bangladesh', 588.3691778),
 ('Belarus', 2890.345675),
 ('Belgium', 24733.62696),
 ('Bhutan', 1445.760002),
 ('Brazil', 4803.398244),
 ('Bulgaria', 2618.876037),
 ('Cambodia', 590.4521124),
 ('Cameroon', 665.7982328),
 ('Chile', 7122.938458),
 ('China', 2639.54156),
 ('Colombia', 3362.4656),
 ('Cyprus', 15378.16704),
 ('Denmark', 30860.12808),
 ('El Salvador', 2579.115607),
 ('Estonia', 6525.541272),
 ('Ethiopia', 229.6769525),
 ('Fiji', 2242.689259),
 ('Finland', 27570.4852),
 ('France', 23016.84778),
 ('Georgia', 1334.646773),
 ('Ghana', 402.6953275),
 ('Grenada', 6047.200797),
 ('Guinea', 394.1156638),
 ('Haiti', 385.5793827),
 ('Honduras', 1414.072488),
 ('Hungary', 5745.981529),
 ('India', 837.7464011),
 ('Indonesia', 1206.991065),
 ('Ireland', 27715.52837),
 ('Italy', 18937.24998),
 ('Japan', 39578.07441),
 ('Kenya', 478.2194906),
 ('South Korea', 16684.21278),
 ('Liberia', 279.2204061),
 ('Malaysia', 5345.213415),
 ('Mexico', 6288.25324),
 ('Morocco', 1908.304416),
 ('Nepal', 274.8728621),
 ('New Zealand', 14646.42094),
 ('Norway', 40034.85063),
 ('Pakistan', 672.1547506),
 ('Peru', 3359.517402),
 ('Qatar', 36152.66676),
 ('Russia', 3054.727742),
 ('Singapore', 33529.83052),
 ('South Africa', 3825.093781),
 ('Spain', 15428.32098),
 ('Sweden', 33630.24604),
 ('Switzerland', 39170.41371),
 ('Thailand', 2699.123242),
 ('United Arab Emirates', 21058.43643),
 ('United Kingdom', 28272.40661),
 ('United States', 37691.02733),
 ('Uruguay', 9581.05659),
 ('Venezuela', 5671.912202),
 ('Vietnam', 757.4009286),
 ('Zimbabwe', 347.7456605)]

In [44]:
for i in range(len(Countries)):
    country=Countries[i]
    country_gdp=GDP[i]
    print ('Country {} GDP is {}'.format(country,country_gdp))

Country Algeria GDP is 2255.225482
Country Angola GDP is 629.9553062
Country Argentina GDP is 11601.63022
Country Australia GDP is 25306.82494
Country Austria GDP is 27266.40335
Country Bahamas GDP is 19466.99052
Country Bangladesh GDP is 588.3691778
Country Belarus GDP is 2890.345675
Country Belgium GDP is 24733.62696
Country Bhutan GDP is 1445.760002
Country Brazil GDP is 4803.398244
Country Bulgaria GDP is 2618.876037
Country Cambodia GDP is 590.4521124
Country Cameroon GDP is 665.7982328
Country Chile GDP is 7122.938458
Country China GDP is 2639.54156
Country Colombia GDP is 3362.4656
Country Cyprus GDP is 15378.16704
Country Denmark GDP is 30860.12808
Country El Salvador GDP is 2579.115607
Country Estonia GDP is 6525.541272
Country Ethiopia GDP is 229.6769525
Country Fiji GDP is 2242.689259
Country Finland GDP is 27570.4852
Country France GDP is 23016.84778
Country Georgia GDP is 1334.646773
Country Ghana GDP is 402.6953275
Country Grenada GDP is 6047.200797
Country Guinea GDP is 394.1156638
Country Haiti GDP is 385.5793827
Country Honduras GDP is 1414.072488
Country Hungary GDP is 5745.981529
Country India GDP is 837.7464011
Country Indonesia GDP is 1206.991065
Country Ireland GDP is 27715.52837
Country Italy GDP is 18937.24998
Country Japan GDP is 39578.07441
Country Kenya GDP is 478.2194906
Country South Korea GDP is 16684.21278
Country Liberia GDP is 279.2204061
Country Malaysia GDP is 5345.213415
Country Mexico GDP is 6288.25324
Country Morocco GDP is 1908.304416
Country Nepal GDP is 274.8728621
Country New Zealand GDP is 14646.42094
Country Norway GDP is 40034.85063
Country Pakistan GDP is 672.1547506
Country Peru GDP is 3359.517402
Country Qatar GDP is 36152.66676
Country Russia GDP is 3054.727742
Country Singapore GDP is 33529.83052
Country South Africa GDP is 3825.093781
Country Spain GDP is 15428.32098
Country Sweden GDP is 33630.24604
Country Switzerland GDP is 39170.41371
Country Thailand GDP is 2699.123242
Country United Arab Emirates GDP is 21058.43643
Country United Kingdom GDP is 28272.40661
Country United States GDP is 37691.02733
Country Uruguay GDP is 9581.05659
Country Venezuela GDP is 5671.912202
Country Vietnam GDP is 757.4009286
Country Zimbabwe GDP is 347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [45]:
print (GDP.max())
print (GDP.min())
print (GDP.mean())
print (GDP.std())
print (GDP.sum())

40034.85063
229.6769525
11289.409271639683
12743.828910617945
711232.7841133