<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the FAA Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: VIew and import the dataset

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [ ]:
import os
path = os.getcwd()

In [6]:
#Import the FAA (Federal Aviation Authority) dataset
FAA=pd.read_csv("C:\\Users\\jaoji\\Python_training\\Data\\faa_ai_prelim.csv")

#### 2: View and understand the dataset

In [8]:
#View the dataset shape
FAA.shape

(83, 42)

In [9]:
#View the first five observations
FAA.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#View all the columns present in the dataset
FAA.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

#### 3: Extract the following attributes from the dataset:
1. Aircraft make name
2. State name
3. Aircraft model name
4. Text information
5. Flight phase
6. Event description type
7. Fatal flag

In [33]:
#Create a new dataframe with only the required columns
df=FAA[['LOC_STATE_NAME','ACFT_MAKE_NAME', 'ACFT_MODEL_NAME','FLT_PHASE', 'RMK_TEXT',
       'EVENT_TYPE_DESC','FATAL_FLAG']]

In [13]:
#View the type of the object
type(df)

pandas.core.frame.DataFrame

In [19]:
#Check if the dataframe contains all the required attributes
df.describe()

,LOC_STATE_NAME,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,RMK_TEXT,EVENT_TYPE_DESC,FATAL_FLAG
count,83,78,79,82,83,83,8
unique,33,30,54,6,81,2,1
top,California,CESSNA,210,LANDING (LDG),"AIRCRAFT, N704SL CESSNA 150, AND N57BC AVIAT ...",Incident,Yes
freq,16,23,4,47,2,56,8

#### 4. Clean the dataset and replace the fatal flag NaN with “No”

In [34]:
#Replace all Fatal Flag missing values with the required output
df.FATAL_FLAG.fillna(value='No',inplace=True)

In [35]:
#Verify if the missing values are replaced
df.FATAL_FLAG.isna().sum()

0

In [36]:
#Check the number of observations
df.shape

(83, 7)

#### 5. Remove all the observations where aircraft names are not available

In [31]:
#Drop the unwanted values/observations from the dataset
df2=df.dropna(subset=['ACFT_MAKE_NAME'])

#### 6. Find the aircraft types and their occurrences in the dataset

In [32]:
#Check the number of observations now to compare it with the original dataset and see how many values have been dropped
df2.shape

(78, 7)

In [38]:
df.shape[0]-df2.shape[0]

5

In [39]:
#Group the dataset by aircraft name
aircrafttype=df2.groupby(['ACFT_MAKE_NAME'])

In [40]:
#View the number of times each aircraft type appears in the dataset (Hint: use the size() method)
aircrafttype.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

#### 7: Display the observations where fatal flag is “Yes”

In [44]:
#Group the dataset by fatal flag
fatalflag=df2.groupby(['FATAL_FLAG'])

In [54]:
#View the total number of fatal and non-fatal accidents
fatalflag.size()

FATAL_FLAG
No     71
Yes     7
dtype: int64

In [56]:
#Create a new dataframe to view only the fatal accidents (Fatal Flag values = Yes)
fatal_accidents=df2[df2.FATAL_FLAG=="Yes"]
fatal_accidents

,LOC_STATE_NAME,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,RMK_TEXT,EVENT_TYPE_DESC,FATAL_FLAG
0,North Carolina,BEECH,36,UNKNOWN (UNK),"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,Yes
53,Florida,PIPER,PA28,UNKNOWN (UNK),AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident,Yes
55,California,FLIGHT DESIGN,CTLS,UNKNOWN (UNK),AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident,Yes
79,Arizona,NORTH AMERICAN,F51,UNKNOWN (UNK),"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident,Yes
80,California,CHAMPION,8KCAB,UNKNOWN (UNK),"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,Yes
81,California,BEECH,35,UNKNOWN (UNK),"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,Yes
82,Alabama,CESSNA,182,UNKNOWN (UNK),N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident,Yes