<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [2]:
#Import the advertising dataset
import os
path=os.getcwd()
adv_data=pd.read_csv(os.path.join(path,'Data\Advertising Budget and Sales.csv'),index_col=0)

In [3]:
adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

#### 2: Analyze the dataset

In [11]:
#View the initial few records of the dataset
adv_data.head(10)

    TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1              230.1                 37.8                     69.2       22.1
2               44.5                 39.3                     45.1       10.4
3               17.2                 45.9                     69.3        9.3
4              151.5                 41.3                     58.5       18.5
5              180.8                 10.8                     58.4       12.9
6                8.7                 48.9                     75.0        7.2
7               57.5                 32.8                     23.5       11.8
8              120.2                 19.6                     11.6       13.2
9                8.6                  2.1                      1.0        4.8
10             199.8                  2.6                     21.2       10.6

In [13]:
#Check the total number of elements in the dataset
adv_data.size

800

#### 3: Find the features or media channels used by the firm

In [14]:
#Check the number of observations (rows) and attributes (columns) in the dataset
adv_data.shape

(200, 4)

In [15]:
#View the names of each of the attributes
adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [4]:
#Create a feature object from the columns
feature=adv_data.iloc[:,:3]

In [5]:
#View the feature object
feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [6]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target=adv_data[adv_data.columns[-1]]

In [32]:
#View the target object
y_target.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales ($), dtype: float64

In [34]:
#Verify if all the observations have been captured in the feature object
feature.shape

(200, 3)

In [35]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [7]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test =train_test_split(feature,y_target)

In [37]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print (X_train.shape)
print (X_test.shape)

(150, 3)
(50, 3)

#### 6: Create a model  to predict the sales outcome

In [8]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
#Print the intercept and coefficients 
print(LR.intercept_)
print(LR.coef_)

2.9983390373599477
[ 0.0467181   0.18500542 -0.0043929 ]

In [11]:
#Predict the outcome for the testing dataset
Y_pred=LR.predict(X_test)

#### 7: Calculate the Mean Square Error (MSE)

In [14]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics

In [15]:
#Calculate the MSE
print(metrics.mean_squared_error(Y_test, Y_pred))

2.295252623700925